<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="../css/style.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    >
    <title>WetterApp</title>
</head>
<body>
<div>
    <h1 class="heading">Wetter Daten</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="city-name-style">
                <h3 class="city-name" data-name="stadtname">Mein Standort</h3>
                <form>
                    <span id="cityOutput" class="city-output"></span>

                    <p id="temperatureOutput"></p>
                    <p id="humidityOutput"></p>
                    <p id="windspeedOutput"></p>
                </form>
                <div class="weather-city-situation">
                    <h4 class="city-title-weather-situation" id="descriptionOutput"></h4>
                    <img id="weatherIcon" />
                </div>
            </div>
        </div>
        <div class="col">
            <form onsubmit="event.preventDefault(); getWeather(document.getElementById('cityInput').value);">
                <input style="outline: none; border: 2px solid green;" id="cityInput" type="text" placeholder="Stadt eingeben..." autofocus>
                <button type="submit">SUCHE</button>
            </form>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="wanted-city-name-style">
                <h3 class="wanted-city-name" data-name="gesuchte_stadtname">Gesuchte Stadt</h3>
                <form>
                    <span id="askedCityOutput" class="city-output"></span>

                    <p id="askedTemperatureOutput"></p>
                    <p id="askedHumidityOutput"></p>
                    <p id="askedWindspeedOutput"></p>
                </form>
                <div class="weather-city-situation">
                    <h4 class="city-title-weather-situation" id="askedDescriptionOutput"></h4>
                    <img id="askedWeatherIcon" />
                </div>
            </div>
        </div>

        <div class="col">
            <div id="weathermapid"></div>
            <script src="/public/js/script.js"></script>
            <script type="text/javascript">
                window.onload = function() {
                    processWeather();
                };
            </script>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>
</body>
</html>
