<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href = "../css/style.css"/>
    <title><%= subject %></title>
</head>
<body>

    <div style="justify-content: flex-end">
        <section class="top-banner">
            <div class="container">
                <h1 class="heading">Wetter Daten</h1>

            </div>
        </section>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div  style="border-style:outset; padding-top:0; padding-right:15px; padding-left:15px; padding-bottom: 15px">

                    <h2 class="city-name" data-name="stadtname">

                        <h3 style="padding-top:0">Mein Standort</h3>

                        <form>
                            <span class="city-temp">Stadtname</span>

                            <span style="float:right" class="city-temp; fa fa-thermometer-0">
                    <i class="fa fa-temperature" style="padding-right:8px"></i>Temperatur in <sup>°C</sup>
                        </span>
                        </form>
                    </h2>

                </div>
            </div>
            <div class="col">
                <form>
                    <input  type="text" placeholder="Standortsuche" autofocus>
                    <button type="submit">SUCHE</button>
                    <span style="color:blueviolet" class="msg">Dies ist ein Test</span>
                </form>
            </div>
            <div class="w-100">

            </div>
            <div class="col">
                <div style="border-style:outset; margin-top:20px; padding-right:15px; padding-left:15px; padding-bottom: 15px">
                    <div class ="centered">
                        <h2  data-name="gesuchte_stadtname">

                            <h3 class="wanted_city-name" >gesuchte Stadt</h3>

                            <form>
                                <span class="wanted_city-temp">Stadtname</span>

                                <span style="float:right" class="wanted_city-temp; fa fa-thermometer">
                                    <i class="fa fa-temperature" style="padding-right:8px"></i>Temperatur in <sup>°C</sup>
                                </span>
                            </form>
                        </h2>
                    </div>

                    <figure>
                        <img class="wanted_city-icon" src="" alt="...">
                        <figcaption>...</figcaption>
                    </figure>

                </div>
            </div>
            <div class="col">
                <h3>map</h3>
            </div>
        </div>
    </div>

</body>
</html>